body {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

section.slide {
    display: none;
    height: 100%;
    text-align: center;
}

section.slide.deck-current, section.deck-child-current {
    display: block;
}

li.slide {
    visibility: hidden;
}

li.slide.deck-current, li.slide.deck-previous, li.slide.deck-before {
    visibility: visible;
}

li.slide.deck-current {
    color: yellow;
}
