body {
    font-family: "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
pre,
p {
    zoom: 1.7;
}

figure {
    margin: 0;
}

.graph-diagram-markup {
    display: none;
}

div.animation-steps {
    display: none;
}

.source-note {
    text-align: left;
    position: absolute;
    left: 20px;
    bottom: 0;
    margin: 0;
    font-size: 30px;
}
