body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 35px;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    padding: 10px;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 60px;
}

figure {
    margin: 0;
}

.graph-diagram-markup {
    display: none;
}

div.animation-steps {
    display: none;
}

p.ascii-art-cypher {
    font-size: 100px;
    color: white;
    font-family: Monaco, monospace;
}

div.center-outer {
    width: 100%;
    height: 100%;
    display: table;
}

div.center-inner {
    display: table-cell;
    vertical-align: middle;
}

.concern {
    position: absolute;
    right: 50px;
    bottom: 50px;
    padding: 5px;
    background-color: black;
}

.source-note {
    text-align: left;
    position: absolute;
    left: 20px;
    bottom: 0;
    margin: 0;
    font-size: 30px;
}
